{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
        {% for error in errors %}
            <div class="alert alert-danger">
                {{ error.message }}
            </div>
        {% endfor %}
    <div>
        {{ form_start(form) }}

        <div>
            <label>Nom du produit</label>
            <div>
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div>
            <label>description du produit</label>

            <div>
                {{ form_widget(form.description) }}
            </div>
        </div>
        <div>
            <label>la categorie</label>
            <div>
                {{ form_widget(form.category) }}
            </div>
        </div>
        <div>
            <label>Quantité</label>
            <div>
                {{ form_widget(form.quantity) }}
            </div>
        </div>
        <div>
            <label>Le prix</label>
            <div>
                {{ form_widget(form.price) }}
            </div>
        </div>
        <div>

            <div>
                {{ form_widget(form.TTC) }}
            </div>
        </div>
        <div>
            <label>inserer une image </label>
            <div>
                {{ form_widget(form.image) }}
            </div>
        </div>
        <div>
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>

</div>

{% endblock %}
